*

!/assets/
!/components/
!/content/
!/helpers/
!/layouts/
!/locales/
!/middleware/
!/pages/
!/plugins/
!/static/
!/store/
!/yarn.lock
!/tsconfig.json
!/package.json
!/nuxt.config.js
!/jest.config.js
!/.prettierrc
!/.eslintrc.js
!/.babelrc
